{% extends 'base.html' %}

{% block header%}
<div class="alert alert-primary" role="alert">
    <h3>詳細ページ</h3>
    <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute; right: 0px; top: -40px">
            メニュー
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'create' %}">新規投稿</a></li>
            <li><a class="dropdown-item" href="{% url 'mylist' %}">My投稿</a></li>
            <li><a class="dropdown-item" href="{% url 'list' %}">投稿一覧へ</a></li>
            <li><a class="dropdown-item" href="{% url 'news' %}">今日のニュース</a></li>
            <li>
                <hr class="dropdown-divider">
            </li><!-- 横仕切り線 -->
            <li><a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a></li>
        </ul>
    </div>
</div>
<!-- いいねの非同期処理-->
<script>
    function api_goodfunc() {
        let api_url = "{% url 'apigood' object.pk %}";
        let btn = document.getElementById("objectgood");
        let request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (request.readyState === 4 && request.status === 200) {
                let received_data = JSON.parse(request.responseText);
                btn.innerText = received_data.objectgood;
            }
        }
        request.open("GET", api_url);
        request.send();
    }
</script>

<!--画像プレビュー-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
</script>
{% endblock header%}

{% block content%}

<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル:{{ object.title }}</p>
        <p>投稿者:{{ object.author }}</p>
        <p><a href="{{ object.sns_image.url }}" data-lightbox="group"><img src="{{ object.sns_image.url }}" width=300
                    height=300></a></p>
        <!--<a href="{% url 'good' object.pk %}" class="btn btn-primary" tabindex="-1" role="button"
            aria-disabled="true">いいね!</a>-->
        <a onclick="api_goodfunc()" tabindex="-1" class="btn btn-primary" role="button" aria-disabled="true"><span
                id="objectgood">{{ object.good }}</span>いいね!</a>
        <a href="{% url 'read' object.pk %}" class="btn btn-secondary" tabindex="-1" role="button"
            aria-disabled="true">既読する</a>
    </div>
    {% if user.username == object.author %}
    <form method="post" action="{% url 'delete' object.pk %}">{% csrf_token %}
        <button tabindex="-1" role="button" class="btn btn-danger" type="submit"
            onclick='return confirm("本当に削除しますか？");'>投稿削除</button>
    </form>
    {% endif %}
</div>
{% endblock content%}